/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
.container {
    display: grid;
    grid-template-columns: 3fr 1fr
    grid-gap: 20px;
}
header{
    grid-column: 1 / 2;
    grid-row: 1;
}
.wrapper {
    display: flex;
}
.wrapper > div {
    flex: 1;
}
.article-image{
    float: left;
    width: 150px;
    height: 200px;
    padding-right: 30px;
    padding-bottom: 30px;
}
article {
    grid-column: 1 / 9;
    grid-row: 3;
}
.subsection{
    display:grid;
    float: right;
    
}
.grid-images{
    display:grid;
    float: left;
}